.dropdown {
  position: relative;
  width: 100%;
}
.dropdown__button button {
  width: 100%;
  background: transparent;
  cursor: pointer;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border: none;
  color: var(--lm-tx-dark-blue);
  padding: 0.5rem;
  padding-left: 1rem;
  padding-right: 1rem;
}

.dropdown__button p {
  font-weight: 300;
  vertical-align: middle;
  font-size: var(--fs-home);
  margin: 0 10px;
}
.dropdown__button span img {
  width: 1.1rem;
}
.dropdown__list {
  background: var(--white);
  border-radius: 0.25rem;
  position: absolute;
  top: 60px;
  width: clamp(38%, 16rem, 100%);
  box-shadow: 0 1px 8px rgba(0, 0, 0, 0.3);
  opacity: 0;
  visibility: hidden;
  transform: translateY(-20px);
  transition: opacity 0.4s ease, transform 0.4s ease, visibility 0.4s;
}

.dropdown__list.active {
  opacity: 1;
  visibility: visible;
  transform: translateY(0);
}

.dropdown__list ul {
  width: 100% !important;
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.dropdown__list li {
  width: 100%;
  text-decoration: none;
  font-weight: 600;
  padding: 1rem;
  color: var(--lm-tx-dark-blue) !important;
  display: block;
  transition: var(--transition-4s);
}

.dropdown__list li:hover {
  cursor: pointer;
  color: var(--lm-bg-light-gray) !important;
  background-color: var(--dm-el-dark-blue);
}

.dropdown__list li:first-child {
  border-top-left-radius: 0.25rem;
  border-top-right-radius: 0.25rem;
}
.dropdown__list li:last-child {
  border-bottom-left-radius: 0.25rem;
  border-bottom-right-radius: 0.25rem;
}
