.filter__container {
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.filter__wrapper {
  display: grid;
  width: 35%;
  height: 100%;
  border-radius: 0.25rem;
  box-shadow: 0px 3px 15px rgba(0, 0, 0, 0.2);
  padding: 0.7rem;
}

.filter__select {
  border: none;
  font-size: var(--fs-home);
  color: var(--lm-input-dark-gray);
  font-weight: 300;
}

.opt-1 {
  margin-top: 20rem;
}
