.home__container {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  width: 100%;
}
.home__form {
}

.home__countries {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  border: var(--border);
}
.countries__cards_wrapper {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: stretch;
  flex-wrap: wrap;
  gap: 5rem;
}

.home__countries_card {
  width: 300px;
  border: 1px solid gray;
}

.home__countries img {
  width: 300px;
  display: block;
}
