.details {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  width: 100%;
  border: var(--border);
}

.details__wrapper {
  width: 90%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.details__button_container {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  width: 100%;
  padding: 2rem;
  padding-left: 0;
}

.details__button_container--btn {
  padding: 1.2rem 2rem;
  background-color: var(--lm-bg-light-gray);
  box-shadow: 0px 3px 15px 0 rgba(0, 0, 0, 0.2);
  border-radius: 0.25rem;
  text-decoration: none;
  color: var(--lm-tx-dark-blue);
  font-size: var(--fs-details);
  transition: var(--transition-4s);
}

.details__button_container--btn:hover {
  box-shadow: 0px 14px 48px 0 rgba(0, 0, 0, 0.2);
}

.details__button_container--btn span {
  padding: 0.8rem;
  font-weight: 600;
}

.details__info {
  border: 1px solid red;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
}

.card__left_side,
.card__right_side {
  width: 40rem;
  height: 30rem;
  border: 1px solid rgb(131, 235, 27);
}

.card__left_side__img {
  width: 38rem;
  height: 28rem;
  border: 1px solid red;
  object-fit: cover;
}
