.details {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  width: 100%;
  border: var(--border);
}

.details__wrapper {
  width: 95%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.details__button_container {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  width: 100%;
  padding: 2rem;
  padding-left: 0;
}

.details__button_container--btn {
  padding: 1.2rem 2rem;
  background-color: var(--lm-bg-light-gray);
  box-shadow: 0px 3px 15px 0 rgba(0, 0, 0, 0.2);
  border-radius: 0.25rem;
  text-decoration: none;
  color: var(--lm-tx-dark-blue);
  font-size: var(--fs-details);
  transition: var(--transition-4s);
}

.details__button_container--btn:hover {
  box-shadow: 0px 14px 48px 0 rgba(0, 0, 0, 0.2);
}

.details__button_container--btn span {
  padding: 0.8rem;
  font-weight: 600;
}

.details__info {
  border: 1px solid red;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
}

.details__left_side,
.details__right_side {
  width: 40rem;
  height: 30rem;
}

.details__left_side__img {
  width: 38rem;
  height: 28rem;
  object-fit: cover;
}

.details__right_side {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  gap: 2.5rem;
}
.details__bottom__title {
  width: 100%;
  font-size: 1.8rem;
}

.details__bottom__description {
  width: clamp(80%, 85%, 100%);
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}
.details__bottom__description p {
  font-size: var(--fs-details);
  font-weight: 800;
  line-height: 1.8rem;
}

.details__bottom__description p span {
  font-size: var(--fs-details);
  font-weight: 300;
}
.details__bottom__border_countries {
  width: clamp(80%, 89%, 100%);
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 1.5rem;
}
.border_countries__title h4 {
  font-size: var(--fs-details);
}

.border_countries__countries {
  display: flex;
  gap: 1rem;
}
.border_countries__countries p {
  display: flex;
  gap: 1rem;
  padding: 0.5rem 1rem;
}
