.search__container {
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.search__wrapper {
  display: grid;
  grid-template-columns: 1fr 6fr;
  width: 70%;
  border-radius: 0.25rem;
  box-shadow: 0px 3px 15px rgba(0, 0, 0, 0.2);
  padding: 0.5rem;
  background-color: var(--white);
}

.search__icon {
  color: var(--lm-input-dark-gray);
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: calc(var(--fs-details) + 0.2rem);
}

.search__input {
  display: flex;
  align-items: center;
  justify-content: flex-start;
}

.search__input input {
  border: none;
  font-size: var(--fs-home);
  font-weight: 300;
  color: var(--lm-tx-dark-blue);
  padding: 0.7rem;
  font-family: var(--ff);
  width: 100%;
}
.search__input input::placeholder {
  color: var(--lm-input-dark-gray);
  font-size: var(--fs-home);
  font-family: var(--ff);
}
