@import url("https://fonts.googleapis.com/css2?family=Nunito+Sans:wght@300;600;800&display=swap");
*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box !important;
}

:root {
  /*====================
  => Light Mode
  ======================*/
  --lm-tx-dark-blue: hsl(200, 15%, 8%);
  --lm-input-dark-gray: hsl(0, 0%, 52%);
  --lm-bg-light-gray: hsl(0, 0%, 98%);
  --white: hsl(0, 0%, 100%); /*(Dark Mode Text & Light Mode Elements)*/

  /*====================
  => Dark Mode
  ======================*/
  --dm-el-dark-blue: hsl(209, 23%, 22%);
  --dm-bg-dark-blue: hsl(207, 26%, 17%);

  /*====================
  => General Style
  ======================*/
  --transition-4s: ease-in-out 0.35s;
  --ff: "Nunito Sans", sans-serif;
  --fs-details: 1rem;
  --fs-home: 0.875rem;
  --border: 1px solid red;
}

body {
  min-height: 100vh;
  font-family: var(--ff);
  background-color: var(--lm-bg-light-gray);
  /* clamp(100%, 6rem, 100%); */
}
